@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=JetBrains+Mono:wght@500&display=swap');

html, body {
  font-family: 'Inter', sans-serif;
  background-color: rgb(221, 221, 221);
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Stops horizontal scroll from orbs */
  overflow-y: auto;   /* Normal vertical scroll */
}
